@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  height: 80px;
  /* border: 3px solid blue; */
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1;
}

.nav a {
  padding-right: 2rem;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-family: "Syne", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav a:hover {
  color: blue;
}

.main {
  /* border: 3px solid yellow; */
  /* padding: 2rem; */
  height: calc(100vh - 150px);
  overflow:auto;
}

.footer {
  height: 70px;
  /* border: 3px solid red; */
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1;
}

.footer a {
  font-size: 1.6rem;
  padding-right: 2rem;
  color: black;
}

.footer a:hover {
  color: blue;
}

/* HOME PAGE */
.home {
  padding: 4rem 4rem 2rem 15.6rem;
}

.home h1 {
  font-size: 4rem;
  font-family: 'Syne', sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
}

/* WORK-LIST PAGE */
.work-list {
  padding: 2rem 2rem 2rem 8.8rem;
}

.work-container {
  display: flex;
  float: left;
}

.work-img {
  width: 325px;
  height: 325px;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  display: block;
  background-size: cover;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-wrapper:hover .work-img {
  filter: blur(2px) grayscale(100%);
  opacity: 0.3;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 200ms ease-in-out;
  opacity: 0;
  background-color: transparent;
}

.img-wrapper:hover .overlay {
  opacity: 1;
}

.work-title {
  font-size: 2.2rem;
  font-family: "Syne", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent;
  overflow: hidden;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

/* WORK-DETAIL */
.work-detail-img {
  width: 100%;
  height: 100%;
}

.work-details {
  display: flex;
}

.back-btn {
  font-size: 1.8rem;
  color: black;
}

.back-btn:hover {
  color: blue;
  cursor: pointer;
}

.work-text-container {
  width: 35%;
  padding: 6rem 0 0 8.9rem;
  display: flex;
  flex-direction: column;
}

.work-text {
  padding: 3.5rem 0 0 0.2rem;
}

.work-slider {
  width: 65%;
  padding: 2rem;
  margin-right: 2rem;
}

.work-slider .img-container {
  max-width: 800px;
  height: 500px;
}

.work-slider .img-container .img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}


/* IMAGE-SLIDER */
.slider-container {
  position: relative;
  height: 100%;
}

.left-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -40px;
  font-size: 2rem;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: -40px;
  font-size: 2rem;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.left-arrow:hover, .right-arrow:hover {
  color: magenta;
}

.slide-dots-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.slide-dots {
  margin: 0 5px;
  cursor: pointer;
  font-size: 15px;
}

.slide-dots:hover {
  color: magenta;
}
.slide-dots#active {
  color: magenta;
}


/* CONTACT */
.contact {
  width: 65vw;
  padding: 2rem;
  padding-top: 4rem;
}

p {
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 0.5rem;
}

.underline {
  text-decoration: underline;
  margin-bottom: 1rem;
}

.mail-btn {
  margin-bottom: 4rem;
  padding: 0.5em;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  border: 3px solid blue;
}

.mail-btn:hover {
  background-color: blue;
  color: white;
  font-weight: bold;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1345px) {

  .work-slider {
    width: 75%;
  }

  .work-text {
    font-size: 0.9rem;
    padding-right: 0.5rem;
  }
}


@media screen and (max-width: 770px) {
  
  /* .main {
    width: 100vw;
  } */

  .home {
    padding: 4rem 4rem 4rem 8.8rem;
  }

  .home h1 {
    font-size: 3rem;
  }

  .contact, .mail-btn {
    font-size: 0.85rem;
  }

  .work-list {
    padding: 2rem;
  }

  .work-details {
    flex-direction: column-reverse;
    justify-content: center;
    /* align-items: center; */
  }

  .work-slider {
    width: 100%;
    padding: 0;
  }

  .img-container {
    height: 500px;
    padding: 0 1rem;
  }

  .work-text-container {
    width: 100%;
    padding: 4rem 2rem;
  }

  .back-btn {
    display: none;
  }

  .work-text {
    margin: 0;
  }

  .work-slider .img-container {
    width: auto;
  }

  .left-arrow {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 1;
    cursor: w-resize;
  }
  
  .right-arrow {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    z-index: 1;
    cursor: e-resize;
  }
}

@media screen and (max-width: 425px) {

  .nav, .footer {
    padding-left: 1rem;
  }

  .nav a {
    font-size: 1.1rem;
    padding-right: 1.5rem;
  }

  .footer a {
    font-size: 1.4rem;
    padding-right: 1.6rem;
  }

  .home {
    padding: 2rem 1rem;
  }

  .home h1 {
    font-size: 2.2rem;
  }

  .contact {
    width: 100vw;
    font-size: 0.75rem;
    padding: 2rem 1rem;
  }

  .mail-btn {
    font-size: 0.75rem;
  }

  .work-list {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
  }

  .work-container {
    justify-content: center;
  }

  .work-img {
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .slide-container {
    height: 85%;
  }

  .slide-dots-container {
    padding-top: 0;
  }

  .work-text-container {
    padding: 0 1rem;
  }

  .work-text {
    padding-top: 2.5rem;
  }
}